version: "3.8"
services:
  myapp:
    container_name: myapp
    build: .
    ports:
      - "8083:80"

  prometheus:
    image: ubuntu/prometheus:3-24.04_stable
    container_name: prometheus-krushna
    ports:
      - "9090:9090"
    restart: always
    volumes:
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana
    container_name: grafana-krush-jagdale
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana

  node_exporter:
    image: prom/node-exporter
    container_name: node-exporter-jagdale
    ports:
      - "9100:9100"
    restart: always

  SonarQube:
    image: sonarqube:latest
    container_name: sonarqube-krushna
    ports:
      - "9000:9000"
    restart: always
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8085:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: always

volumes:
  prometheus_data:
  grafana_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
