version: "3.8"
services:
  myapp:
    container_name: myapp
    build: .
    ports:
      - "8083:80"

  prometheus:
    image: ubuntu/prometheus:3-24.04_stable
    container_name: prometheus-krushna
    ports:
      - "9090:9090"
    restart: always


  grafana:
    image: grafana/grafana
    container_name: grafana-krush-jagdale
    ports:
      - "3000:3000"
    restart: always


  node_exporter:
    image: prom/node-exporter
    container_name: node-exporter-jagdale
    ports:
      - "9100:9100"
    restart: always



  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8085:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: always
