version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-monitor
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana-monitor
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    restart: always

  nodeexporter:
    image: prom/node-exporter:latest
    container_name: node-exporter-monitor
    ports:
      - "9100:9100"
    restart: always

volumes:
  prometheus_data:
  grafana_data:
